<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>图片处理小助手</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <style>
        .my-h1 {
            margin-bottom: 4rem!important;
            margin-top: 2rem!important;
            font-size: 42px;
        }
        .return-index {
            margin-bottom: 2rem!important;
            margin-top: 4rem!important;
        }
        #compression {
            width: 25%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="/">图片处理小助手</a>
        </div>
    </nav>
    <div class="container mt-5">
        <p class="my-h1">修改图片日期(可批量)</p>
        <form method="post" action="/upload2" enctype="multipart/form-data">
            <div class="form-group d-flex align-items-center">
                <label for="file" class="form-label me-3">选择图片文件:</label>
                <input type="file" class="form-control" id="file" name="file[]" multiple style="color: blue; width: 50%;" accept="image/*">
            </div>
            <div class="form-group d-flex align-items-center mt-4">
                <label for="date" class="form-label me-3">选择图片日期:</label>
                <input type="date" class="form-control datepicker" id="date" name="date" style="width: 25%;" autocomplete="off" readonly>
                <button type="submit" class="btn btn-primary ms-3 flex-shrink-0 btn-lg">提交</button>
            </div>
            <br>
            <small class="form-text text-danger">使用说明：1.先选择文件；2.选择图片日期(暂不支持)；3.最后点“提交”。</small>
        </form>
        <div class="return-index"><a href="/" class="btn btn-secondary btn-lg btn-block mt-3">返回首页</a></div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        var today = new Date();  
        var dateString = today.toISOString().split('T')[0];  
        document.getElementById('date').value = dateString;
    </script>
</body>
</html>